// colors
$primary: #14aa4b;
$secondary: #aa1428;
$tertiary: #9514aa;

$primary-light: #2be66f;
$secondary-light: #e62b44;
$tertiary-light: #d245e8;

$dash-primary: #E8E800;
$dash-secondary: #E8E800;
$dash-tertiary: #9514aa;

@keyframes delayedShow {
  to {opacity: 1;}
}

.layout__container{
  opacity: 0;
  border: none;
  bottom: 0;
  overflow: auto;
  right: 0;
  animation: 0.35s alternate 0.7s forwards delayedShow;
  position: relative;
  padding-top: 90px;
  padding-left: 60px;
  .layout__form {
    color: $primary;
  }
}
.layout__logout{
  padding-left: 1250px;
}
.layout__login{
  padding-left: 45%;
}
.button__login{
  padding-left: 40%;
  padding-top: 20px;
}
// .layout__login{
//   margin: 0;
//   position: absolute;
//   left: 50%;
//   padding-bottom: 10px;
//   margin-right: -50%;
//   transform: translate(-50%, -50%);
// }