
$seg_header_size: 9%;
@keyframes delayedShow {
  to {opacity: 1;}
}

.layout__container{
  opacity: 0;
<<<<<<< HEAD
  border: 10px;
  bottom: 0;
  right: 0;
  padding: 5px;
  animation: 0.35s alternate 0.7s forwards delayedShow;
  padding-top: 80px;
  padding-left: 60px;
}
=======
  border: none;
  bottom: 0;
  overflow: auto;
  right: 0;
  padding: 5px;
  animation: 0.35s alternate 0.7s forwards delayedShow;
  position: relative;
  padding-top: 80px;
  padding-left: 60px;
}
>>>>>>> adjustment container and padding topbar
